ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
    li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        div{
            display: flex;
            align-items: center;
            position: relative;
            div{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
            }
            img{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: 5px solid #c2c2c2;
                box-sizing: border-box;
            }
        }
        &.on img{
            border: 5px solid pink;
        }
        &.on .check{
            position: absolute;
            top: 50%;
            left: 0;
            background-color: rgba(245, 204, 204, 0.7);
            width: 80px;
            height: 80px;
            transform: translate(13%, -50%);
            border-radius: 50%;
            box-sizing: border-box;
        }
        &.on .check::after{
            content: '✔';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 30px;
        }
    }
}
button{
    background-color: #000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 2px;
}